<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
	<Properties>
		<Property name="LOG_PATTERN">
			STD - %d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${hostName} --- [%15.15t] %-40.40c{1.} : %m%n%ex
		</Property>
	</Properties>
	<Appenders>
		<Console name="ConsoleAppender" target="SYSTEM_OUT" follow="true">
			<PatternLayout pattern="${LOG_PATTERN}" />
		</Console>
		<RollingFile name="RollingFile" fileName="logs/simpletodo-server.log"
			filePattern="logs/simpletodo-server-%d{MM-dd-yyyy}.log.gz" ignoreExceptions="false">
			<PatternLayout pattern="${LOG_PATTERN}" />
			<TimeBasedTriggeringPolicy />
		</RollingFile>
	</Appenders>
	<Loggers>
		<Root level="WARN">
			<AppenderRef ref="ConsoleAppender" />
			<AppenderRef ref="RollingFile" />
		</Root>
		<Logger name="org.hibernate.SQL" level="WARN" additivity="false">
			<AppenderRef ref="ConsoleAppender" />
		</Logger>
		<Logger name="org.hibernate.cache" level="WARN" additivity="false">
			<AppenderRef ref="ConsoleAppender" />
		</Logger>
		<Logger name="de.calltopower.simpletodo" level="INFO" additivity="false">
			<AppenderRef ref="ConsoleAppender" />
			<AppenderRef ref="RollingFile" />
		</Logger>
	</Loggers>
</Configuration>
